<!doctype html>
<html>
    <head>
        <title>Yez</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/font-awesome-4.1.0/css/font-awesome.min.css">
        <link href='css/font.css' rel='stylesheet' type='text/css'>
        <style type="text/css">
            .content {
                display: none;
            }
        </style>
    </head>
    <body>
    	<div class="content">
            <header>
                <img src="img/icon48.png" class="logo" />
                <div data-placeholder="nav"></div>
                <div data-component="status">
                    <i class="fa fa-flash fa-flash-<% status %>"></i> Status: <% status %>
                    <div class="info">Connection to <code>http://<% host %>:<% port %></code> failed. <br />It seems that <code>yez</code> Node.js module is missing.<br />Try running <code>npm install -g yez</code>.<br />When the installation finishes type <code>yez</code> and hit <i>Enter</i>.</div>
                </div>
            </header>
            <section data-component="content"></section>
        </div>
        <script src="js/vendors/socket.io.js"></script>
        <script src="js/vendors/absurd.organic.min.js"></script>
        <script src="js/vendors/absurd.min.js"></script>
        <script src="js/vendors/ansi_up.js"></script>
        <script src="js/vendors/keypress-2.0.2.min.js"></script>
        <script src="js/misc.js"></script>
        <script src="js/components/Status.js"></script>
        <script src="js/components/Nav.js"></script>
        <script src="js/components/Content.js"></script>
        <script src="js/components/Task.js"></script>
        <script src="js/components/Home.js"></script>
        <script src="js/components/CWD.js"></script>
        <script src="js/utils/Autocomplete.js"></script>
        <script src="js/utils/History.js"></script>
        <script src="js/Yez.js"></script>
    </body>
</html>